/* This file can be used to define custom fonts */
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('/fonts/BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
